In [19]:
import pandas as pd
from Generate_Data import generate_data

In [20]:
# Import the datasets used to generate player data for future games
df_players = pd.read_csv('Data/weekly_data.csv')
df_schedule = pd.read_csv('Data/game_scores.csv')

In [21]:
generate_data(df_players, df_schedule, 12, 2021)

/Users/bernardpriest-blais/Desktop/LHL_Final_Project/Project_Functions.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df[f'TA7{column}'] = temp_df[column].fillna(method='ffill').rolling(window = 7,
/Users/bernardpriest-blais/Desktop/LHL_Final_Project/Project_Functions.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df[f'TA3{column}'] = temp_df[column].rolling(window = 3,

,index,Unnamed: 0,Unnamed: 0.1,GameKey,PlayerID,GameDate,Team,Opponent,HomeOrAway,Number,...,InjuryStatus,MatchString,Season,Week,TeamPoints,OpponentPoints,YardsFor,YardsAgainst,TA7FantasyPointsPPR,TA3FantasyPointsPPR
0,26551,26551,1,202110134,20889,2021-09-12T13:00:00,ARI,TEN,AWAY,1,...,NaN,20211ARITEN,2021,1,38,13,416,248,24.097143,28.400000
1,26552,26552,2,202110116,18890,2021-09-12T16:25:00,KC,CLE,HOME,15,...,NaN,20211KCCLE,2021,1,33,29,397,457,23.088571,26.733333
2,26553,26553,3,202110122,16762,2021-09-12T16:25:00,NO,GB,HOME,2,...,NaN,20211NOGB,2021,1,38,3,322,229,NaN,17.160000
3,26554,26554,4,202110111,17922,2021-09-12T13:00:00,DET,SF,HOME,16,...,NaN,20211DETSF,2021,1,33,41,430,442,14.074286,18.813333
4,26555,26555,5,202110102,21831,2021-09-12T13:00:00,PHI,ATL,AWAY,1,...,NaN,20211PHIATL,2021,1,32,6,434,260,24.391429,23.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5490,32041,32041,1631,202111108,20283,2021-11-21T13:00:00,DET,CLE,AWAY,12,...,NaN,202111DETCLE,2021,11,10,13,245,349,NaN,NaN
5491,32042,32042,1632,202111104,18811,2021-11-21T13:00:00,BUF,IND,HOME,10,...,NaN,202111BUFIND,2021,11,15,41,311,370,1.322857,0.000000
5492,32043,32043,1633,202111102,19763,2021-11-18T20:20:00,ATL,NE,HOME,16,...,NaN,202111ATLNE,2021,11,0,25,165,308,-0.205714,-0.480000
5493,32044,32044,1634,202111102,22498,2021-11-18T20:20:00,ATL,NE,HOME,15,...,NaN,202111ATLNE,2021,11,0,25,165,308,0.085714,0.100000
5494,32045,32045,1635,202111104,19043,2021-11-21T13:00:00,BUF,IND,HOME,19,...,NaN,202111BUFIND,2021,11,15,41,311,370,2.214286,4.300000

In [30]:
df_schedule

,Unnamed: 0,Season,Week,Team,TeamPoints,OpponentPoints,YardsFor,YardsAgainst,Opponent,MatchString
0,0,2018,1,PHI,18,12,232,299,ATL,20181PHIATL
1,1,2018,1,ATL,12,18,299,232,PHI,20181ATLPHI
2,2,2018,1,NO,40,48,475,529,TB,20181NOTB
3,3,2018,1,TB,48,40,529,475,NO,20181TBNO
4,4,2018,1,BAL,47,3,369,153,BUF,20181BALBUF
...,...,...,...,...,...,...,...,...,...,...
1861,1861,2021,11,ARI,23,13,413,266,SEA,202111ARISEA
1862,1862,2021,11,LAC,41,37,533,300,PIT,202111LACPIT
1863,1863,2021,11,PIT,37,41,300,533,LAC,202111PITLAC
1864,1864,2021,11,TB,30,10,402,215,NYG,202111TBNYG
1865,1865,2021,11,NYG,10,30,215,402,TB,202111NYGTB

In [22]:
week = 12
season = 2021

In [23]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32046 entries, 0 to 32045
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    32046 non-null  int64
 1   Unnamed: 0.1                  32046 non-null  int64
 2   GameKey                       32046 non-null  int64
 3   PlayerID                      32046 non-null  int64
 4   GameDate                      32046 non-null  object
 5   Team                          32046 non-null  object
 6   Opponent                      32046 non-null  object
 7   HomeOrAway                    32046 non-null  object
 8   Number                        32046 non-null  int64
 9   Name                          32046 non-null  object
 10  Position                      32046 non-null  object
 11  Started                       32046 non-null  int64
 12  PassingAttempts               32046 non-null  float64
 13  PassingCompletions            32046 non-null  float64
 14  PassingYards                  32046 non-null  float64
 15  PassingCompletionPercentage   32046 non-null  float64
 16  PassingYardsPerAttempt        32046 non-null  float64
 17  PassingYardsPerCompletion     32046 non-null  float64
 18  PassingTouchdowns             32046 non-null  float64
 19  PassingInterceptions          32046 non-null  float64
 20  PassingRating                 32046 non-null  float64
 21  PassingLong                   32046 non-null  float64
 22  PassingSacks                  32046 non-null  float64
 23  PassingSackYards              32046 non-null  float64
 24  RushingAttempts               32046 non-null  float64
 25  RushingYards                  32046 non-null  float64
 26  RushingYardsPerAttempt        32046 non-null  float64
 27  RushingTouchdowns             32046 non-null  float64
 28  RushingLong                   32046 non-null  float64
 29  ReceivingTargets              32046 non-null  float64
 30  Receptions                    32046 non-null  float64
 31  ReceivingYards                32046 non-null  float64
 32  ReceivingYardsPerReception    32046 non-null  float64
 33  ReceivingTouchdowns           32046 non-null  float64
 34  ReceivingLong                 32046 non-null  float64
 35  Fumbles                       32046 non-null  float64
 36  FumblesLost                   32046 non-null  float64
 37  PuntReturns                   32046 non-null  float64
 38  PuntReturnYards               32046 non-null  float64
 39  PuntReturnTouchdowns          32046 non-null  float64
 40  KickReturns                   32046 non-null  float64
 41  KickReturnYards               32046 non-null  float64
 42  KickReturnTouchdowns          32046 non-null  float64
 43  FieldGoalsAttempted           32046 non-null  float64
 44  FieldGoalsMade                32046 non-null  float64
 45  ExtraPointsMade               32046 non-null  float64
 46  TwoPointConversionPasses      32046 non-null  float64
 47  TwoPointConversionRuns        32046 non-null  float64
 48  TwoPointConversionReceptions  32046 non-null  float64
 49  FantasyPointsPPR              32046 non-null  float64
 50  FieldGoalsMade0to19           32046 non-null  float64
 51  FieldGoalsMade20to29          32046 non-null  float64
 52  FieldGoalsMade30to39          32046 non-null  float64
 53  FieldGoalsMade40to49          32046 non-null  float64
 54  FieldGoalsMade50Plus          32046 non-null  float64
 55  InjuryStatus                  3460 non-null   object
 56  MatchString                   32046 non-null  object
 57  Season                        32046 non-null  int64
 58  Week                          32046 non-null  int64
 59  TeamPoints                    32046 non-null  int64
 60  OpponentPoints                32046 non-null  int64
 61  YardsFor                      32046 non-null  int64
 62  YardsAgainst                  32046 non-null  int64
dtypes: float64(43), int64(12), object(8)
memory usage: 15.4+ MB

In [27]:
df_active = df_players[df_players['Season'] == 2021][['Name', 'Team']]
df_active

                    Name Team
26551       Kyler Murray  ARI
26552    Patrick Mahomes   KC
26553     Jameis Winston   NO
26554         Jared Goff  DET
26555        Jalen Hurts  PHI
...                  ...  ...
32041          Tim Boyle  DET
32042  Mitchell Trubisky  BUF
32043         Josh Rosen  ATL
32044     Feleipe Franks  ATL
32045    Isaiah McKenzie  BUF

[5495 rows x 2 columns]

In [28]:
active_players = {}
for i, row in enumerate(range(len(df_active))):
    active_players[df_active.iloc[i]['Name']] = df_active.iloc[i]['Team']

In [29]:
df_schedule_week_season = df_schedule[(df_schedule['Week'] == week) & (df_schedule['Season'] == season)]
df_schedule_week_season

Empty DataFrame
Columns: [Unnamed: 0, Season, Week, Team, TeamPoints, OpponentPoints, YardsFor, YardsAgainst, Opponent, MatchString]
Index: []

In [14]:
matchup_dict = {}
for i, row in enumerate(range(len(df_schedule_week_season))):
    matchup_dict[df_schedule_week_season.iloc[i]['Team']] = df_schedule_week_season.iloc[i]['Opponent']

In [15]:
matchup_dict

{}

In [18]:
df_schedule.dtypes

Unnamed: 0         int64
Season             int64
Week               int64
TeamPoints         int64
OpponentPoints     int64
YardsFor           int64
YardsAgainst       int64
MatchString       object
dtype: object